*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
    font-family: "Inter", sans-serif;

}
body{
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11.25rem 18.75rem;
    height: 100vh;
    margin: auto;
    
}
main{
    width: 25rem;
    height: 43.75rem;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 1.875rem;

}
header{
    height: 18.75rem;
    width: 18.75rem;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color:hsl(0, 0%, 100%);
    padding-bottom: 60px;

}
span{
    color:  hsl(75, 94%, 57%);
    padding-bottom: 30px;
}
img{
    border-radius: 50%;
    width: 4.375rem;
    height: 4.375rem;

}
a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}
.container-buttons{
    width: 21.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 40px;

}
.social-button{
    width: 18.75rem;
    height: 3.125rem;
    border-radius: 6px;
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-button:hover{
    background-color: hsl(75, 94%, 57%);
    transition: background-color 1s ease;
}

@media (max-width: 375px) {
    body{
        margin: auto;
    }
    main{
        width: 17rem;
        height: 34rem;
    }
    header{
        height: 15rem;
        width: 15rem;
        padding-top: .2rem;
        padding-bottom: 3px;
    }
    header p{
        font-size: 12px;
    }
    header span{
        font-size: 12px;
    }
    header h1{
        font-size: 1.5rem;
    }
    .container-buttons{
        width: 15rem;
    }
    .social-button{
        width: 15rem;
        height: 2rem;
    }
    .social-button :hover{
        background: white
    }
    .social-button a{
        font-size: 13px;
    }
}
